<div class="entry">
    <h1 style="margin-bottom: 2rem;">
        Create your Account 
    </h1>
    
    <div class="container">
            <form id="registerform" action="/admin/create" method="post">
                <input class="info" type="text" name = "name" placeholder='Enter Name'required>  
                <input class="info" type="email" name = 'email' placeholder="Enter email" required>
                <input class="info" type="password" name='password' placeholder="Enter password" required>
                <input class="info" type="password" name='confirm_password' placeholder="Re-Enter password" required>
                <input type="submit" value="Register" id='register-btn'>
            </form>
            <!-- <button style="background-color: #d93025; padding:20px; border:0px; border-radius: 10px;">
                <a style="color:white; text-decoration: none; font-size: 20px;"href="/users/auth/google">Sign-In/Sign-Up Using Google</a>
            </button> -->
    </div>
</div>